<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="../../assets/images/logo-dark.png">
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"> </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             <li class="nav-item">
                <a class="nav-link active" aria-current="page"  routerLink="/home">Home</a>
             </li>
             <li class="nav-item">
                <a class="nav-link active" aria-current="page"  routerLink="/movies">movies</a>
             </li>
             <li class="nav-item">
                <a class="nav-link active" aria-current="page"  routerLink="/home">Home</a>
             </li>
             <li class="nav-item">
                <a class="nav-link active" aria-current="page"  routerLink="/home">Home</a>
             </li>
        </ul>
         <div class="icons">
     <i class="fab fa-facebook m-2"></i>
     <i class="fab fa-instagram m-2"> </i>
     <i class="fab m-2 fa-spotify"></i>
     <i class="fab m-2 fa-vimeo"></i>
     <i class="fab m-2 fa-twitter"></i>

         </div>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
  
        <ul class="navbar-nav">

            <li class="nav-item">
                <a  class="nav-link" routerLink='register'>Register</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" routerLink='login'>Login</a>
            </li>

            <li class="nav-item">
                <a  class="nav-link">Logout</a>
            </li>

        </ul>
   


    </div>
    </div>
  </nav>
